*,
body {
  margin: 0;
  padding: 0;
}
html {
  background: rgb(202, 218, 188);
}
#contain {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#contain>div {
  position: relative;
  background: #eee;
  margin: 30px;
  width: 150px;
  height: 150px;
  border: solid 1px #bbb;
}
#contain>div>div {
  margin: 0 auto;
  position: relative;
  top: 50%;
}
.heart1 {
  margin-top: -20px !important;
  width: 60px;
  height: 60px;
  background: rgb(224, 115, 100);
  transform: rotate(-45deg)
}
.heart1:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: -30px;
  border-radius: 50%;
  background: rgb(224, 115, 100);
}
.heart1:after {
  content: "";
  position: absolute;
  left: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(224, 115, 100);
}
/* .heart2:before,
.heart2:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 70px;
  background: rgb(224, 115, 100);
  border-radius: 50px 50px 0 0;
}
.heart2:before {
  left: 0;
  transform: rotate(-45deg);
}
.heart2:after {
  left: 15px;
  transform: rotate(45deg);
} */
.heart2:before {
  position: absolute;
  top: -65px;
  left: 8px;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  box-shadow: 
    30px 15px #ee4c49, 75px 15px #f34819, 45px 15px #f1ef55, 90px 15px #3ab7d6, 
    15px 30px #caa1c3, 30px 30px #b95ea3, 45px 30px #6cc5be, 60px 30px #8ed83a, 
    75px 30px #ec7d64, 90px 30px #6dc0c0, 105px 30px #f38a44,
    15px 45px #53b658, 30px 45px #6a7ad6, 45px 45px #5fb686, 60px 45px #f5438d, 
    75px 45px #2884b9, 90px 45px #c74ca8, 105px 45px #9742ac,
    15px 60px #f1ef55, 30px 60px #3ab7d6, 45px 60px #f5438d, 60px 60px #f38a44, 
    75px 60px #8ed83a, 90px 60px #caa1c3, 105px 60px #f44622, 
    30px 75px #6dc0c0, 45px 75px #f1ef55, 60px 75px #6a7ad6, 
    75px 75px #c74ca8, 90px 75px #b95ea3, 
    45px 90px #ec7d64, 60px 90px #6a7ad6, 75px 90px #6cc5be, 
    60px 105px #2884b9;
}